header {
    text-align: center;
    margin: 1em auto;
    border: 5px solid #f0ffff;
    padding: 5px;
    background-color:#f0ffff;
    border-radius: 15px;
    max-width: 700px;
    min-width: 700px;
    box-shadow: 7px 7px#729ac0;
    
}

body {
    background-color: #bde0ff;
    padding: 10px;
}

.container {
    border: 5px solid #f0ffff;
    padding: 1px;
    background-color:#f0ffff;
    border-radius: 15px;
    padding: 15px 1em;
    margin: 3vh auto;
    max-width: 700px;
    min-width: 700px;
    box-shadow: 7px 7px#729ac0;
}