 :root {
    --highlight-color: #f0ffff;
    --mid-color: #bde0ff;
    --shadow-color: #729ac0;
 }

 body {
    background-color: #bde0ff;
    padding: 10px;
    font-family: "Inter", sans-serif;
}

header {
    text-align: center;
    margin: 3vh auto;
    border: 5px solid #f0ffff;
    padding: 1em;
    background-color:#f0ffff;
    border-radius: 15px;
    max-width: 700px;
    min-width: 700px;
    box-shadow: 7px 7px#729ac0;
     
}



.container {
    border: 5px solid #f0ffff;
    background-color:#f0ffff;
    border-radius: 15px;
    padding: 1em;
    margin: 3vh auto;
    max-width: 700px;
    min-width: 700px;
    box-shadow: 7px 7px#729ac0;
}

.divider {
    width: 700px;
    height: 7px;
    margin: 3vh auto;
    padding: 15px auto;
    background-color: var(--highlight-color);
    border-radius: 5px;
}

.links-headers {
    text-align: center;
}